<ion-content>

   <div class="action-back-container" style="display: flex; gap:15px; padding:15px;">
    <p style="color:#4caf50; font-weight: bold; font-size:25px;" 
    (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></p>
    <p style="font-size:25px;color:#4caf50; font-weight: bold;">Saved</p>
  </div>

  <!-- Search Bar -->
  <div class="search-container" style="position: relative; bottom:10px;">
    <ion-searchbar placeholder="Search location..." mode="ios" animated="true"></ion-searchbar>
  </div>

  <!-- Weather Cards -->
  <div class="weather-list">
    <div class="weather-card night">
      <div class="weather-info">
        <h2 class="city">Bloemfontein</h2>
        <p class="time">22:21</p>
        <p class="condition">Partly Cloudy</p>
      </div>
      <div class="temp-info">
        <h1 class="temp">13°</h1>
        <p class="range">H:23° L:6°</p>
      </div>
    </div>

    <div class="weather-card night">
      <div class="weather-info">
        <h2 class="city">Johannesburg</h2>
        <p class="time">22:21</p>
        <p class="condition">Clear</p>
      </div>
      <div class="temp-info">
        <h1 class="temp">13°</h1>
        <p class="range">H:22° L:8°</p>
      </div>
    </div>

    <div class="weather-card cloudy">
      <div class="weather-info">
        <h2 class="city">Cape Town</h2>
        <p class="time">22:21</p>
        <p class="condition">Cloudy</p>
      </div>
      <div class="temp-info">
        <h1 class="temp">14°</h1>
        <p class="range">H:15° L:12°</p>
      </div>
    </div>
  </div>
</ion-content>
