<ion-content>

  <div class="action-back-container" style="display: flex; gap:15px; padding:15px;">
    <p style="color:#4caf50; font-weight: bold; font-size:25px;" 
       (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></p>
    <p style="font-size:25px;color:#4caf50; font-weight: bold;">Saved Locations</p>
  </div>

  <!-- Search Bar -->
 <div class="search-container" style="position: relative; bottom:10px;">
  <ion-searchbar
    placeholder="Search location..."
    mode="ios"
    animated="true"
    [(ngModel)]="searchCity"
    (ionInput)="searchWeather()"
    (ionClear)="clearSearch()">
  </ion-searchbar>
</div>


  <!-- Weather Cards -->
  <div class="weather-list">
    
    <div class="weather-card night" *ngIf="!isLoading && weatherData; else loading">
      <div class="weather-info">
        <h2 class="city">{{ weatherData.city }}</h2>
        <p class="time">{{ weatherData.time }}</p>
        <p class="condition">{{ weatherData.condition }}</p>
      </div>
      <div class="temp-info">
        <h1 class="temp">{{ weatherData.temp }}°</h1>
        <p class="range">H:{{ weatherData.high }}° L:{{ weatherData.low }}°</p>
      </div>
    </div>

    <ng-template #loading>
      <p style="text-align:center; padding:20px;">Loading weather data...</p>
    </ng-template>

  </div>

</ion-content>
